* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pt-120 {
  padding-top: 120px;
}
.pb-120 {
  padding-bottom: 120px;
}

.d-flex {
  display: flex;
}
.jcc {
  justify-content: center;
}

/* NAVBAR-SECTION */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 200px;
  background: #1a0b2e;
}

.header-t {
  font-size: 3rem;
}

.color-gray {
  color: #aa9fb8;
}

.banner-buttons {
  gap: 8px;
}

.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  color: #ffffff;
}

.wav {
  background: linear-gradient(
    to bottom left,
    rgb(247, 49, 247),
    rgb(241, 162, 51)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .menu ul {
  flex-direction: row;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.navbar .menu ul li a {
  text-decoration: none;
  padding: 32px;
  color: #e9e7eb;
}

.button {
  padding: 14px 30px;
  border-radius: 50px;
  background-image: linear-gradient(
    to bottom left,
    rgb(247, 49, 247),
    rgb(241, 162, 51)
  );
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.linear {
  margin-top: 24px;
  padding: 14px 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button.outline {
  background-color: transparent;
}

/* BANNER-SECTION */
.audio-quality {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-container {
  background: url("./assets/hero-bg.png");
  max-width: 1600px;
  height: 760px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 115px;
}

.mike-icon {
  background: url("./assets/hero-circle.png");
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wave {
  color: #ffffff;
  font-size: 60px;
  margin-top: 40px;
}

.wave-text {
  font-size: 16px;
  height: 19px;
  color: #d1cfd8;
  align-items: center;
  margin-top: 8px;
}

/* ABOUT-SECTION */
.about {
  max-width: 1600px;
  background: #1a0b2e;
  margin: 0 auto;
  padding: 0 200px;
}

.about-main {
  max-width: 1200px;
  text-align: center;
}

.about-h {
  align-items: center;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 20px;
}

.container-text {
  /* margin-top: 16px; */
  color: #d1ced5;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.rank {
  padding-top: 160px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.about-rank {
  color: #00ff88;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
}

.rank-text {
  padding-top: 16px;
  color: #d1ced5;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* CHOOSE-SECTION */
.choose {
  background: #230e3d;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 200px 120px 200px;
}

.caption {
  padding-top: 120px;
  text-align: center;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

.choose-img {
  /* margin-top: 107.5px; */
  /* margin-bottom: 312.5; */
  width: 60px;
  height: 60px;
}

.choose-ch {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #ffffff;
  padding: 16px 0px;
}

.container-text {
  /* padding-top: 16px; */
  color: #aa9fb8;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.grid-content {
  display: grid;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(160px, auto);
  gap: 20px;
}

.content {
  background: #2a0f4d;
  /* width: 380px; */
  border-radius: 40px;
  padding: 40px;
  grid-column: span 1;
  grid-row: span 2;
}

.content-mobile {
  background: #2a0f4d;
  border-radius: 40px;
  padding: 40px;
  grid-column: span 2;
  grid-row: span 1;
}

.content-global {
  background: #2a0f4d;
  border-radius: 40px;
  padding: 40px;
  grid-column: span 2;
  grid-row: span 1;
}

.content-interview {
  background: #2a0f4d;

  border-radius: 40px;
  padding: 40px;
  grid-column: span 2;
  grid-row: span 1;
}

.content-premium {
  background: #2a0f4d;
  height: 273px;
  border-radius: 40px;
  padding: 40px;
  grid-column: span 1;
  grid-row: span 1;
}

/* FEATURED-SECTION */
.featured {
  max-width: 1600px;
  background: #1a0b2e;
  margin: 0 auto;
  padding: 0 200px 120px 200px;
}

.featured-hs {
  /* padding: 24px;
  width: 332px; */
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.feature-wrap {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.featured-content {
  border-radius: 24px;
}
.featured-content iframe {
  border-radius: 24px 24px 0px 0px;
}
.feature-footer {
  padding: 24px;
  background-color: #2a0f4d;
  border-radius: 0px 0px 24px 24px;
}

.featured-p {
  /* padding-left: 24px; */
  color: #a89eb4;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 0px;
}

.time {
  color: #00ff88;
  display: flex;
  gap: 6px;
}

/* MEET-THE-HOST */
.meet-content {
  max-width: 1200px;
  background: #2a0f4d;
  margin: 0 auto;
  border-radius: 40px;
  /* justify-content: space-between; */
  padding: 20px;
  gap: 24px;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.meet-img {
  width: 200px;
  height: 200px;
  align-self: center;
}

.alex {
  color: #ffffff;
  margin-top: 48px;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}
.about-p {
  line-height: 25px;
}
.mike-icon {
  position: relative;
}
.new {
  border-radius: 15px;
  background-color: #00ff88;
  position: absolute;
  top: 27px;
  right: 43px;
  padding: 8px 16px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.meet-icons {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}
.meet-icon {
  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 50%;
}
.meet-icons img {
  height: 16px;
  width: 16px;
  margin: 10px 12px;
}

.pr {
  margin-top: 16px;
  /* width: 896px;
  height: 72px; */
}

/* FOOTER-SECTION */
.footer-img {
  background: url("./assets/footer-bg.png");
  max-width: 1600px;
  height: 412px;
  margin: 0 auto;
}

.footer-title {
  color: #ffffff;
  font-size: 60px;
}

.footer-conten {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.footer-icons {
  gap: 40px;
  padding: 16px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-icons img {
  margin-right: 8px;
}

.section-header {
  margin-bottom: 40px;
}

/* media query */
@media screen and (max-width: 576px) {
  .container,
  .about,
  .choose,
  .featured {
    padding-left: 20px;
    padding-right: 20px;
  }
  .rank {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-content {
    grid-template-columns: 1fr;
  }

  .grid-content,
  .feature.big,
  .feature.wide {
    grid-column: span 1;
    grid-row: span 1;
  }
  .feature-wrap,
  .meet-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .content-global {
    padding: 24px;
  }

  .footer-icons {
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
  .meet-content {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .meet-icons {
    justify-content: center;
  }
  .mike-icon {
    width: 300px;
    height: 300px;
  }
}
